@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fz-40px{
    font-size: 40px;
}

body{
    background-color:#1b1c1e;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.about-cont{
    margin: 30px ;
    padding: 30px;
    text-align: center;
}
.about-cont h1{
    font-size: 2.5rem;
    margin-bottom: 25px;
    color:#b64115;
}
.about-button {
    width: 150px;
    background-color: #b64115;
    padding: 20px ;
    border-radius: 10px;
    border: none;
    margin: 30px auto ;
}
.about-button a{
    color: white;
    text-decoration: none;
}
.profile-photo{
    border-radius: 50%;
    padding: 5px;
    background-color: #1e2022;
}
.profile-photo img{
    width: 40vw;
}
.skills-cont{
    text-align: center;
    padding: 20px;
}
.skill-description{
    margin: 30px;
}
.skill-cards{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.skill-cards div{
    width: 35vw;
    margin: 10px;
    background-color:#1e2022;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.skill-cards div i{
    font-size: 50px;
}
.quote-cont{
    text-align: center;
    background-color: #b64115;
    margin: 30px 0;
    padding:30px;
}
.quote-cont i{
    font-size: 90px;
    margin: 30px;
}
.quote-cont h2{
    font-size: 20px;
    margin: 20px 0;
}
.projects-cont{
    text-align: center; 
}
.projects-cont h2, p{
    margin: 10px;
}
.projects-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-cards article{
    width: 80vw;
    margin: 10px;
    background-color: #1e2022;
    border: 1px solid black;
    border-radius: 5px;
}
.projects-cards img{
    width: 200px;
    margin: 20px;
}
.projects-cards a{
    text-decoration: none;
}
.projects-cards p{
    color: white;
}
.contact-description{
    text-align: center;
}
.contact-cont i{
    color: #b64115;
    font-size: 30px;
    margin: 20px;
}
.contact-cont ul li a{
    text-decoration: none;
    color: white;
}
.contact-cont ul li p{
    display: inline;
}
.write-me-cont{
    text-align: center;
}

.write-me-cont fieldset{
    border: none;
    margin-left: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    text-align: left;
}
fieldset input, textarea{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: #1e2022;
    color: white;
}
.submit-button{
    color: white;
    text-decoration: none;
    background-color: #b64115;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
footer{
    width: 100vw;
    background-color: #b64115;
    padding: 50px;
    text-align: center;
}
.footer-nav{
    display: none;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    list-style: none;
}
footer ul li i{
    color: #b64115;
    background-color: #1e2022;
    border-radius: 50%;
    font-size: 20px;
    margin: 15px;
    padding: 15px;
} 
.last-goodbye{
    text-align: center;
}
.last-goodbye span{
    color: #1e2022;
    font-size: 25px;
}


/* versión mobile */
@media (max-width: 767px){
    header{
        display: none;
    }
}























