@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fz-40px{
    font-size: 40px;
}

body{
    background-color:#1b1c1e;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.about-cont{
    margin: 30px ;
    padding: 30px;
    text-align: center;
}
.about-cont h1{
    font-size: 2.5rem;
    margin-bottom: 25px;
    color:#b64115;
}
.about-button {
    width: 150px;
    background-color: #b64115;
    padding: 20px ;
    border-radius: 10px;
    border: none;
    margin: 30px auto ;
}
.about-button a{
    color: white;
    text-decoration: none;
}
.profile-photo{
    border-radius: 50%;
    padding: 5px;
    background-color: #1e2022;
}
.profile-photo img{
    width: 40vw;
    margin-top: 30px;
}
.skills-cont{
    text-align: center;
    padding: 20px;
}
.skill-description{
    margin: 30px;
}
.skill-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-cards div{
    width: 35vw;
    margin: 10px;
    background-color:#1e2022;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.skill-cards div i{
    font-size: 50px;
}
.quote-cont{
    text-align: center;
    background-color: #b64115;
    margin: 30px 0;
    padding:30px;
}
.quote-cont i{
    font-size: 90px;
    margin: 30px;
}
.quote-cont h2{
    font-size: 20px;
    margin: 20px 0;
}
.projects-cont{
    text-align: center; 
}
.projects-cont h2, p{
    margin: 10px;
}
.projects-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-cards article{
    width: 80vw;
    margin: 10px;
    background-color: #1e2022;
    border: 1px solid black;
    border-radius: 5px;
}
.projects-cards img{
    width: 200px;
    margin: 20px;
}
.projects-cards a{
    text-decoration: none;
}
.projects-cards p{
    color: white;
}
.contact-description{
    text-align: center;
}
.contact-cont i{
    color: #b64115;
    font-size: 30px;
    margin: 20px;
}
.contact-cont ul li a{
    text-decoration: none;
    color: white;
}
.contact-cont ul li p{
    display: inline;
}
.write-me-cont{
    text-align: center;
}

.write-me-cont fieldset{
    border: none;
    margin-left: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    text-align: left;
}
fieldset article{
    margin: 20px auto;
}
fieldset input, textarea{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: #1e2022;
    color: white;
}
.submit-button{
    color: white;
    text-decoration: none;
    background-color: #b64115;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
footer{
    width: 100vw;
    background-color: #b64115;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}
.footer-nav{
    display: none;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    list-style: none;
}
footer ul li i{
    color: #b64115;
    background-color: #1e2022;
    border-radius: 50%;
    font-size: 20px;
    margin: 15px;
    padding: 15px;
} 
.last-goodbye{
    text-align: center;
}
.last-goodbye span{
    color: #1e2022;
    font-size: 25px;
}


 /* versión mobile */
@media (max-width: 767px){
    header{
        display: none;
    }
   
}
/* versión tablet */
@media (min-width: 768px) and (max-width: 1023px){
    header{
        display: none;
    }
.about-cont{
    display: flex;
}
.profile-photo{
    width: 20vw;
    border-radius: 0%;
}

.profile-photo img{
    width: 20vw;
}
.skill-cards{
    width: 60vw;
    margin: 10px auto;
    justify-content: center;
}
.skill-cards div{
    width: 20vw;
    padding: 50px;
}
.quote-cont p{
    width: 80vw;
}
.projects-cards article{
    width: 35vw;
    padding: 20px;
}
.projects-cards img{
    width: 20vw;
}
.contact-cont{
    width: 50vw;
    margin: 30px;
}
.contact-description{
    text-align: left;
}
.contact-links{
    width: 90vw;
}
.contact-links ul{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-links ul li{
    width: 45vw;
    display: inline;
}
.write-me-cont h2{
    text-align: left;
}
.write-me-cont article{
    display: flex;
    flex-direction: column;
}
.name-surname-cont{
    width: 80vw;
    display: flex;
}
.name-surname-cont input{
    width: 39.5vw;
}
.mail-cont, .message-cont{
    width: 80vw;
}
.footer-nav {
   display: block;
}
.footer-nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

}
/* version desktop */
@media (min-width: 1024px){
   
    .nav-bar{
        position: fixed;
        width: 80vw;
        z-index: 100;
        top: 0;
    }
   .nav-bar ul{
       display: flex;
       justify-content: flex-end;
       width: 100vw;
       margin: 10px;
       background-color: #1e2022;
       padding: 20px;
    }
    .nav-bar li{
        list-style: none;
    }
    .nav-bar li{
        transition: all;
        transition: 500ms ease-out;
    }
    .nav-bar li:hover{
        background-color: #b64115;
        border-radius: 15px;
    }
    .nav-bar a{
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 1.2rem;
    }
    .nav-bar li:hover a{
        padding: 30px;
        color: #1b1c1e;
        font-size: 1.5rem;
    }
    .contact-button{
        background-color: #b64115;
        border-radius: 15px;
    }
    main{
        position: relative;
        top: 50px;
    }
    .about-cont{
        display: flex;
       justify-content: space-around;
       padding-top: 200px;
    }
    .profile-photo{
        width: 20vw;
        border-radius: 20px;
    }
    
    .profile-photo img{
        width: 15vw;
    }
    .about-button{
        transition-property: all ;
        transition: 500ms ease-out;
    }
    .about-button:hover{
        background-color: #1e2022;
        border: 1px solid #b64115;
    }
    .about-button a{
        transition-property: all ;
        transition: 500ms ease-out;
    }
    .about-button:hover a{
        color: #b64115;
    }
    .skills-cont{
        background-color: #1e2022;
        padding-top: 100px;
    }
    .skill-cards{
        width: 85vw;
        margin: 10px auto;
        justify-content: center;
    }
    .skill-cards div{
        width: 20vw;
        padding: 50px;
        background-color: #1b1c1e;
    }
    .skill-cards div:hover{
        box-shadow: 0px 0px 6px 2px rgba(182,65,21,1);
    }
    .projects-cont{
        padding-top: 100px;
    }
    .projects-cards{
        width: 90vw;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .projects-cards article{
        width: 22vw;
        padding: 20px;
        transition: all;
        transition: 500ms ease-out;
    }
    .projects-cards article:hover{
        box-shadow: 0px 0px 6px 2px rgba(182,65,21,1);
        width: 22.5vw;
    }
    .projects-cards img{
        width: 10vw;
    }
    .portfolio-photo img{
        width: 15vw ;
    }
    .contact-cont{
        display: flex;
        border: 1px solid black;
        border-radius: 15px;
        width: 80vw;
        margin: 100px auto  350px;
        padding: 100px 30px 50px 30px;
    }
    .contact-links, .write-me-cont{
        width: 40vw;
    }
    .contact-description{
        text-align: left;
        width: 30vw;
    }
    .contact-links li{
        list-style: none;        
    }
    .contact-cont i{
        transition: all;
        transition: 500ms ease-out;
    }
    .contact-cont li:hover i{
        color: #1e2022;
        border-radius: 50%;
        background-color: #b64115;
        padding: 10px;
    }
    .write-me-cont h2{
        text-align: left;
    }
    .write-me-cont article{
        display: flex;
        flex-direction: column;
    }
    
    .name-surname-cont input{
        width: 20vw;
    }
    .mail-cont, .message-cont{
        width: 35vw;
    }
    .message-cont {
       height: 200px;
    }
    .submit-button{
        transition-property: all ;
        transition: 500ms ease-out;
    }
    .submit-button:hover{
        background-color: #1e2022;
        border: 1px solid #b64115;
        color: #b64115;
    }
    .footer-nav {
        display: block;
     }
     .footer-nav a{
         color: white;
         text-decoration: none;
         margin: 10px;
         transition: all;
         transition: 500ms ease-out;
     }
     .footer-nav a:hover{
        font-size: 20px;
     }
     .footer-links i{
        transition: all;
        transition: 500ms ease-out;
     }
     .footer-links li a:hover i{
        color: #1e2022;
        border-radius: 50%;
        background-color: #b64115;
        border: 1px solid #1e2022;
     }
    
}

/* coming-soon.html */
.coming-soon-cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coming-soon-cont figure{
    text-align: center;
}
.coming-soon-cont img{
    width: 20vw;
}
.coming-soon-cont figcaption{
    margin: 35px;
}
.coming-soon-cont a{
    color: white;
    text-decoration: none;
    background-color: #b64115;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

/* version desktop */
@media (min-width: 1024px){
   
    .coming-soon-cont a{
        transition-property: all ;
        transition: 500ms ease-out;
    }
    .coming-soon-cont a:hover{
        background-color: #1e2022;
        border: 1px solid #b64115;
        color: #b64115;
    }
   
    
}


 






